/*****************************************************************************
**************                    SORTIR.COM                         *********
 ****************************************************************************/

/*****************************************************************************
*****   title :          sortir.com                             **************
*****   description :   site permettant de mettre a disposition **************
*****                   des sorties entre campus                **************
*****   version :       1.0.0                                   **************
*****   authors :       Alex, Maxime, Sébastien                 **************
 ****************************************************************************/

/*****************************************************************************
**************                    body                               *********
*****************************************************************************/
body{
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-top: 15px;
}
#inscription
{
    padding: 10px;
    flex: 1;
    background-color: wheat;
    color: black;
    border: 0.1em solid;
    box-shadow: 8px 8px 6px black;
}
#btn1
{
    text-decoration: none;
    color: white;
}
/*****************************************************************************
**************                    footer                             *********
*****************************************************************************/
.footer{
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}