/*****************************************************************************
**************                    SORTIR.COM                         *********
 ****************************************************************************/

/*****************************************************************************
*****   title :          sortir.com                             **************
*****   description :   site permettant de mettre a disposition **************
*****                   des sorties entre campus                **************
*****   version :       1.0.0                                   **************
*****   authors :       Alex, Maxime, Sébastien                 **************
 ****************************************************************************/

/*****************************************************************************
**************                    body                               *********
*****************************************************************************/
body{
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-top: 15px;
}
.inscription
{
    padding: 10px;
    flex: 1;
    color: black;
    border: 0.1em solid;
    box-shadow: 8px 8px 6px black;
}
#btn1
{
    text-decoration: none;
    color: white;
}

/*****************************************************************************
**************                    NAVBAR                             *********
*****************************************************************************/
nav img{
    width: 70px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

/*****************************************************************************
**************                    footer                             *********
*****************************************************************************/
.footer{
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
/*****************************************************************************
**************                    villes                             *********
*****************************************************************************/
table{
    border: #000000 2px solid;

}
table>thead{
    background-color: #999999;
}
.villes thead {
    display:block;
}
.villes tbody {
    display:block;
    height:200px; /* 5 times the equivalent of a text "size". */
    overflow-y:scroll;
}

.villes thead tr th:nth-child(1) { /* column 1 ! */
    width: 60%;
}
.villes thead tr th:nth-child(2) { /* column 2 */
    width: 33%;
}
.villes tbody tr:first-child td:nth-child(1) { /* column 1 ! */
    width: 60%;
}
.villes tbody tr:first-child td:nth-child(2) { /* column 2 */
    width: 25%;
}

/*****************************************************************************
**************                    Sorties                            *********
*****************************************************************************/

.sorties thead {
    display:block;
}
.sorties tbody {
    display:block;
    height:400px; /* 5 times the equivalent of a text "size". */
    overflow-y:scroll;
}

.sorties thead tr th:nth-child(1) { /* column 1 ! */
    width:14%;
}
.sorties thead tr th:nth-child(2) { /* column 2 */
    width:10%;
}
.sorties thead tr th:nth-child(3) { /* column 3 */
    width:10%;
}
.sorties thead tr th:nth-child(4) { /* column 4 */
    width: 12%;
}
.sorties thead tr th:nth-child(5) { /* column 5 */
    width:10%;
}
.sorties thead tr th:nth-child(6) { /* column 6 */
    width:10%;
}
.sorties thead tr th:nth-child(7) { /* column 7 */
    width:12%;
}
.sorties thead tr th:nth-child(8) { /* column 8 */
    width:12%;
}
.sorties tbody tr:first-child td:nth-child(1) { /* column 1 ! */
    width:14%;
}
.sorties tbody tr:first-child td:nth-child(2) { /* column 2 */
    width: 10%;
}
.sorties tbody tr:first-child td:nth-child(3) { /* column 3 */
    width: 10%;
}
.sorties tbody tr:first-child td:nth-child(4) { /* column 4 */
    width: 12%;
}
.sorties tbody tr:first-child td:nth-child(5) { /* column 5 */
    width: 10%;
}
.sorties tbody tr:first-child td:nth-child(6) { /* column 6 */
    width: 10%;
}
.sorties tbody tr:first-child td:nth-child(7) { /* column 7 */
    width: 12%;
}
.sorties tbody tr:first-child td:nth-child(8) { /* column 8 */
    width: 12%;
}

/*****************************************************************************
**************                    sites                              *********
*****************************************************************************/

.sites thead {
    display:block;
}
.sites tbody {
    display:block;
    height:400px; /* 5 times the equivalent of a text "size". */
    overflow-y:scroll;
}

.sites thead tr th:nth-child(1) { /* column 1 ! */
    width: 91%;
}

.sites tbody tr:first-child td:nth-child(1) { /* column 1 ! */
    width:90%;
}

/*****************************************************************************
**************                    participants                       *********
*****************************************************************************/

.participants thead {
    display:block;
}
.participants tbody {
    display:block;
    height:400px; /* 5 times the equivalent of a text "size". */
    overflow-y:scroll;
}

.participants thead tr th:nth-child(1) { /* column 1 ! */
    width: 25%;
}
.participants thead tr th:nth-child(2) { /* column 2 */
    width: 16%;
}
.participants thead tr th:nth-child(3) { /* column 3 */
    width: 23%;
}
.participants thead tr th:nth-child(4) { /* column 4 */
    width: 24%;
}

.participants tbody tr:first-child td:nth-child(1) { /* column 1 ! */
    width: 25%;
}
.participants tbody tr:first-child td:nth-child(2) { /* column 2 */
    width: 16%;
}
.participants tbody tr:first-child td:nth-child(3) { /* column 3 */
    width: 23%;
}
.participants tbody tr:first-child td:nth-child(4) { /* column 4 */
    width: 24%;
}
/*****************************************************************************
**************                    sites                              *********
*****************************************************************************/

.description-sortie thead {
    display:block;
}
.description-sortie tbody {
    display:block;
    height:400px; /* 5 times the equivalent of a text "size". */
    overflow-y:scroll;
}

.description-sortie thead tr th:nth-child(1) { /* column 1 ! */
    width: 88%;
}

.description-sortie tbody tr:first-child td:nth-child(1) { /* column 1 ! */
    width: 82%;
}

/*****************************************************************************
**************                    profil participant                 *********
*****************************************************************************/
.profil-image img{
    height: 70%;
    width: 300px;
}
